{% extends 'layout.html' %}
{% load static %}

{% block seo %} 
<meta property="og:title" content="Home Remodel & Repair | Denver Colorado | Home Revive"/>
<meta property="og:url" content="https://homerevivellc.net"/>
<meta property="og:image" content="{% static 'images/home/hero.webp' %}"/>
<meta property=”og:image:width” content=”1200″/>
<meta property=”og:image:height” content=”630″/>
<meta property="og:description" content="A leading Denver contractor in home remodeling and maintenance. We take pride in our high-quality performance and exceptional customer service."/>
<meta property="og:type" content="website">
<meta name="description" content="A leading Denver contractor in home remodeling and maintenance. We take pride in our high-quality performance and exceptional customer service.">
<link rel="canonical" href="https://homerevivellc.net">
<link rel="alternate" href="https://homerevivellc.net" hreflang="en"/>
<!-- Preload Images here -->
 <link rel="preload" href="{% static 'images/home/hero.webp' %}" as="image">
 <link rel="preload" href="{% static 'images/home/about-hero.webp' %}" as="image">
 <link rel="preload" href="{% static 'images/home/remodel.webp' %}" as="image">
 <link rel="preload" href="{% static 'images/home/deck.webp' %}" as="image">
 <link rel="preload" href="{% static 'images/home/appliance-repair.webp' %}" as="image">
 <link rel="preload" href="{% static 'images/home/nextdoor.svg' %}" as="image">
{% endblock %}

{% block title %}
Home Remodel & Repair | Denver Colorado | Home Revive
{% endblock %}

{% block home %} 
active-link
{% endblock %}

{% block main %}
<section class="hero background-image" title="Denver Skyline">
    <h1 class="title hero-title">
        Exceptional Home Remodeling & Maintenance
    </h1>
    <div class="btn-area">
        <a href="{% url 'contact' %}" class="btn">Get A Free Estimate</a>
    </div>
</section>
<section class="home-about">
    <div class="home-about-info">
        <h2 class="home-about-title">
            Best Maintenance Company in Denver
        </h2>
        <p class="description home-about-description">
            We take pride in being Denver's top choice for home maintenance. With years of hands-on experience, we know what it takes to keep your home in tip-top shape, whether it's tackling those tricky plumbing issues, keeping your HVAC system running smoothly, or fixing any broken appliances. We don't just fix problems; we prevent them, saving you time, money, and stress in the long run. Our team is committed to providing reliable, top-notch service that ensures your home stays safe, comfortable, and efficient. When it comes to maintenance, we're the experts Denver homeowners trust.
        </p>
        <div class="btn-area">
            <a href="{% url 'about' %}" class="secondary-btn btn">More About Us</a>
        </div>
    </div>
    <div class="home-about-image background-image" title="New modern kitchen blue gray"></div>
</section>
<section class="why-us">
    <h2 class="secondary-title why-title">
        Why Choose Us
    </h2>
    <div class="reasons-list">
        <div class="reason">
            <h3 class="secondary-title reason-title">
                Quality Assured
            </h3>
            <p class="description">
                We take pride in our work, using the best materials and paying attention to every detail. 
                When we’re on the job, you can relax knowing your home is in skilled, reliable hands.
            </p>
        </div>
        <div class="reason">
            <h3 class="secondary-title reason-title">
                Free, At Home Consultations
            </h3>
            <p class="description">
                Whether it’s a kitchen overhaul or a new deck, we’ll walk through the details with you and figure out the best plan to bring your ideas to life.
            </p>
        </div>
        <div class="reason">
            <h3 class="secondary-title reason-title">
                Customer Service Focused
            </h3>
            <p class="description">
                Our top priority is making sure you're happy every step of the way, whether we're remodeling something or handling routine maintenance.
            </p>
        </div>
        <div class="reason">
            <h3 class="secondary-title reason-title">
                Licensed & Insured
            </h3>
            <p class="description">
                Rest assured knowing that your home is in safe, professional hands. 
                Every project we take on is covered and protected completely
            </p>
        </div>
    </div>
</section>
<section class="home-services">
    <h2 class="secondary-title home-services-title">
        Our Services Include
    </h2>
    <div class="home-services-list">
        <div class="home-service remodel background-image" title="Home remodel service">
            <a href="" class="home-service-link">Home Remodels</a>
        </div>
        <div class="home-service deck background-image" title="Deck repair and install service">
            <a href="" class="home-service-link">Deck Repair/Install</a>
        </div>
        <div class="home-service appliance-repair background-image" title="Appliance repair service">
            <a href="" class="home-service-link">Appliance Repair</a>
        </div>
    </div>
    <div class="home-services-btn-area btn-area">
        <a href="{% url 'services' %}" class="secondary-btn btn">See All Services</a>
    </div>
</section>
<!-- <section class="testimonial-section">
    <h2 class="secondary-title testminonials-title">
        Satisfied Customers
    </h2>
    <div class="testimonial-list">
        <div class="testimonial">
            <div class="icon-div">
                <i class="fa-solid fa-quote-right"></i>
            </div>
            <div class="testimonial-content">
                <h3 class="testimonial-name">
                    Dave Reddington
                </h3>
                <p class="description">
                    “I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”
                </p>
            </div>
        </div>
        <div class="testimonial">
            <div class="icon-div">
                <i class="fa-solid fa-quote-right"></i>
            </div>
            <div class="testimonial-content">
                <h3 class="testimonial-name">
                    Amelia Banks
                </h3>
                <p class="description">
                    “I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”
                </p>
            </div>
        </div>
        <div class="testimonial">
            <div class="icon-div">
                <i class="fa-solid fa-quote-right"></i>
            </div>
            <div class="testimonial-content">
                <h3 class="testimonial-name">
                    Kenny Stutes
                </h3>
                <p class="description">
                    “I'm a testimonial. Click to edit me and add text that says something nice about you and your services. Let your customers review you and tell their friends how great you are.”
                </p>
            </div>
        </div>
    </div>
</section> -->
<section class="contact-section">
    <div class="contact-header">
        <h2 class="secondary-title contact-title">
            Let's Discuss Your Next Project
        </h2>
        <p class="description contact-description">
            Fill out the form, or call us to set up a free in-home consultation.
        </p>
        <div class="service-areas">
            <h6 class="secondary-title service-area-title">
                Service Areas:
            </h6>
            <p class="description">
                Denver, Wheat Ridge, Lakewood, Arvada
            </p>
        </div>
    </div>
    <form action="https://formsubmit.co/homerevivecontracting@gmail.com" method="post" class="contact-form">
        <input type="hidden" name="_url" value="https://homerevivellc.net">
        <input type="hidden" name="_subject" value="New Contact Form submission!">
        <input type="hidden" name="_captcha" value="false">
        <input type="hidden" name="_next" value="https://homerevivellc.net/thank-you">
        <input type="text" name="_honey" style="display:none">
        <div class="input-group">
            <div class="input">
                <label for="first" class="input-label">First Name *</label>
                <input rquired id="first" name="first" type="text" class="input-field">
            </div>
            <div class="input">
                <label for="last" class="input-label">Last Name *</label>
                <input rquired id="last" name="last" type="text" class="input-field">
            </div>
        </div>
        <div class="input-group">
            <div class="input">
                <label for="email" class="input-label">Email *</label>
                <input rquired id="email" name="email" type="text" class="input-field">
            </div>
            <div class="input">
                <label for="phone" class="input-label">Phone</label>
                <input id="phone" name="phone" type="text" class="input-field">
            </div>
        </div>
        <div class="input">
            <label for="address" class="input-label">Address</label>
            <input id="address" name="address" type="text" class="input-field">
        </div>
        <div class="input">
            <label for="subject" class="input-label">Subject</label>
            <input id="subject" name="subject" type="text" class="input-field">
        </div>
        <div class="input">
            <label for="message" class="input-label">Type your message here...</label>
            <textarea rows="5" name="message" id="message" class="input-field"></textarea>
        </div>
        <div class="submit-btn">
            <button type="submit" class="btn contact-btn">Submit</button>
        </div>
    </form>
    <div class="contact-info">
        <div class="contact-link">
            <a href="mailto:homerevivecontracting@gmail.com">homerevivecontracting@gmail.com</a>
        </div>
        <div class="contact-link">
            <a href="tel:+17206438146">(720) 643-8146</a>
        </div>
    </div>
</section>
{% endblock %}