{% extends 'layout.html' %}

{% block title %}
Thank You!
{% endblock %}

{% block main %}
<section class="thanks">
    <h2 class="secondary-title thanks-title">
        Thank You For Reaching Out
    </h2>
    <p class="description thanks-description">
        Someone will be reaching out to you to set up a consultation for your project as soon as possible. 
        Having a time and date in mind for a consultation would help expedite the process tremendously. 
        Feel free to check out some of our most recent work on Facebook in the meantime!
    </p>
</section>
{% endblock %}